rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function adminOnly() {
      return request.auth != null && request.auth.token.email == "gsbenevides2@gmail.com";
    }
    function getPostData(postId) {
      return resource.data.visible == true || adminOnly();
    }
    function getStorageData(storageId) {
      let isAllowedUser = request.auth.token.email in get(/databases/(default)/documents/storage/$(storageId)).data.allowedUsers;
      let isAdminUser = adminOnly();
      let isVisible = get(/databases/(default)/documents/storage/$(storageId)).data.visible == true;

      return isAdminUser || isVisible || isAllowedUser;
    }
    match /{document=**} {
      allow read, write: if false;
    }
    match /certifications/{allPaths=**} {
    	allow read: if true;
      allow write: if adminOnly();
    }
    match /projects/{allPaths=**} {
    	allow read: if true;
      allow write: if adminOnly();
    }
    match /posts/{allPaths=**} {
      allow read: if getPostData(resource.id);
    	allow write: if adminOnly();
    }
    match /links/{allPaths=**} {
    	allow read: if true;
      allow write: if adminOnly();
    }
    match /storage/{allPaths=**} {
      allow get: if getStorageData(resource.id);
      allow list : if adminOnly();
      allow write: if adminOnly();

    }
  }
}