.button {
  background-color: transparent;
  border-style: solid;
  border: 1px solid var(--dynamic-text-color, #f1f1f1);
  border-radius: 12px;
  color: var(--dynamic-text-color, #f1f1f1);
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  text-align: center;
  &:hover {
    border-color: #f1f1f1;
    background-color: #f1f1f1;
    color: #000;
    transform: scale(1.05);
  }
}
