@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container,
.containerCertification {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  padding: 20px;

  h2,
  h3 {
    text-align: center;
  }
}

.containerCertification {
  animation: none;
  opacity: 1;

  h2 {
    height: 64px;
    display: flex;
    align-items: center;
  }
}

.iframe {
  min-width: 30vw;
  height: 300px;

  @media (max-width: 768px) {
    min-width: 90vw !important;
    max-width: 90vw !important;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  width: 70vw;
  justify-content: center;

  .backButton {
    position: absolute;
    left: 0px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.area1 {
  display: flex;
  padding-top: 12px;
  max-width: 1600px;

  .image {
    position: relative;
    max-width: 30vw;
    min-width: 300px;

    img {
      position: static !important;
    }

    @media (max-width: 768px) {
      min-width: 90vw !important;
      max-width: 90vw !important;
    }
  }

  .description {
    position: relative;
    padding: 0px 40px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    text-align: justify;

    @media (max-width: 768px) {
      top: 0px !important;
    }
  }

  .descriptionCertificate {
    top: 60px;

    @media (max-width: 768px) {
      top: 0px;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.descriptionDesktop {
  ul {
    padding-left: 15px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.descriptionMobile {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.viewMoreButton {
  margin-top: 20px;
}

.pdf {
  @media (max-width: 768px) {
    min-width: 90vw !important;
    max-width: 90vw !important;
  }
}
