.container {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  animation: fadeIn 1s ease-in-out forwards;

  .containerInside {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;
    transition: all 0.3s ease-in-out;

    .list {
      width: 100%;
      max-width: 1000px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 8px;
      margin-top: 8px;

      & > span {
        margin-top: 8px;
        align-self: center;
      }
      & > h2 {
        text-align: center;
      }

      li {
        display: flex;
        flex-direction: row;
        gap: 8px;
      }

      .textArea {
        flex: 1;
        p {
          white-space: pre-line;
        }
      }

      .iconButtonsArea {
        display: grid;
        align-items: center;
        gap: 8px;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .form {
      display: flex;
      gap: 8px;
    }
  }
  button {
    margin-top: 8px;
    max-width: 400px;
  }
  h1 {
    text-align: center;
  }

  &.hide .containerInside {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .list {
    padding-top: 12px;
    li {
      img {
        display: none;
      }
      h2 {
        font-size: 1.2rem;
      }
      h3 {
        font-size: 1rem;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
