.container {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.postsList.hide {
  opacity: 0;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.postsList {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 12px;
  transition: all 0.5s ease-in-out;
}
.post {
  margin: 6px;
  transition: 0.2s;
  cursor: pointer;
}
.post img {
  transition: 0.2s;
}
.post:hover {
  background-color: #3a2c38;
  border-radius: 6px;
}
.post:hover img {
  transform: scale(0.9);
  border-radius: 12px;
}

.post:nth-child(1) {
  grid-row: 1/4;
}
.post:nth-child(1) .postData {
  padding: 6px;
}
.post:nth-child(n + 2) {
  display: flex;
  grid-column: 2/4;
  height: 77px;
}
.post:nth-child(n + 2) > span,
.post:nth-child(n + 2) img {
  min-height: 75px;
  height: 100%;
  max-height: 75px;
  min-width: 111px;
  width: 100%;
  max-width: 111px;
}
.post:nth-child(n + 2) > .postData {
  margin-left: 6px;
}
.post:nth-child(n + 5) {
  grid-column: 1/4;
}
.postData {
  overflow: hidden;
}
.postTitle {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
}
@media only screen and (max-width: 600px) {
  .post:nth-child(1) {
    align-self: center;
    grid-column: 1/4;
  }
  .post:nth-child(n + 2) {
    grid-column: 1/4;
  }
}
