.container {
  display: flex;
  flex-direction: row;
  animation: fade-in 1s ease-in-out normal;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.firstArea {
  display: flex;
  width: 100%;
  margin-top: 20vh;
  margin-left: 10vw;
  flex-direction: column;
  opacity: 1;
  transition: all .3s ease-in-out;
}
.button{
  margin-top:24px;
  max-width: 400px;
}
.secondArea {
  display: flex;
  box-sizing: border-box;
}
.title{
  font-weight: 600;
  font-size: 2.5rem;
  transition: all 0.3s ease-in-out;
}
.image {
  width: 25vw;
  height: 100vh;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/images/profile.jpg");
  background-size: cover;

  flex: none;
  order: 0;
  flex-grow: 0;
  opacity: 1;
  transition: all .3s ease-in-out;
}

.hide .image {
  transform: translateX(25vw);
}
.hide .firstArea {
  opacity: 0;
}



@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .firstArea {
    margin-top: 0;
    padding-top: 10vh;
    margin-left: 0;
    z-index: 1;
    align-items: center;
  }
  .title{
    font-size: 2rem;
    text-align: center;
  }
  .image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url("/images/profile.jpg");
      background-size: cover;
  }
  .secondArea {
    margin-top: 5vh;
    margin-left: 5vw;
  } 

  .hide .image {
    transform: translateX(100vw);
  }
}

