.container {
    padding: 20px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.searchBox{
    max-width:980px;
    width:100%;
    padding: 20px 0px;
}
.header {
    align-items: center;
    display:flex;
    flex-direction: column;
}

.projectsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.projectsList li{
    position: relative;
    margin: 10px;
    list-style: none;
    cursor: pointer;
}
.projectsList li:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.projectsList li:hover > div{
    opacity: 1;
}

.projectsList li > div {
    position: absolute;
    width: 300px;
    height: 200px;
    min-height: 200px;
    min-width: 300px;
    padding: 12px;
    font-size:1rem;
    background-color: rgba(0,0,0,0.8);
    top:0;
    height:0;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidder{
    opacity: 1;
    transition: 0.5s;
}
.hidder.hide{
    opacity: 0;
}